@inherits LayoutComponentBase

<div class="container">
    <header>
        <h1>Ordering Kiosk</h1>
    </header>
    <main>
        @Body
    </main>
    <footer>
        <p>&copy; 2024 Ordering Kiosk</p>
    </footer>
</div>
